# .env
TELEGRAM_TOKEN=ваш_токен_бота
ADMIN_ID=123456789

QBITTORRENT_URL=http://ip_или_hostname_qbittorrent:порт
QBITTORRENT_USERNAME=admin
QBITTORRENT_PASSWORD=adminadmin
QBITTORRENT_SAVE_PATH=/downloads
QBITTORRENT_CATEGORY=from_telegram
RUTRACKER_USERNAME=user
RUTRACKER_PASSWORD=pass

CHECK_INTERVAL=600
LOG_LEVEL=INFO

PROXY_URL=http://proxy_host:proxy_port
PROXY_USERNAME=
PROXY_PASSWORD=